#button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.animal-button {
  margin: 10px;
  padding: 10px 20px 10px;
}

#gifs-appear-here {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-items {
  float: left;
  padding: 10px;
}
